/* mise en place du box-sizing , les margin et padding sont mis à zéro et création des variables. */

root {
  box-sizing: border-box;
  /* Couleur bleue  */
  --primary-color: #0065fc;
  /* Nuance bleue */
  --blue-shade: #deebff;
  /* Fond par defauts */
  --default-background: #d9d9d9;
  /* Fixe l'element racine a 16 px pour le font size */
  font-size: 16px;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Mise en place de la font au niveau du body */
body {
  font-family: 'Raleway', arial, sans-serif;
}